Repository orfeotoolbox/pyotb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

pydocstyle:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install pydocstyle tomli
  script:
  - pydocstyle $PWD/pyotb

pylint:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install pylint
  script:
  - pylint $PWD/pyotb

codespell:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install codespell
  script:
  - codespell {pyotb,tests,doc,README.md}

test_core:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  artifacts:
    reports:
      junit: test-*.xml
  before_script:
  - pip install pytest
  - pip install .
  script:
  ...

test_numpy:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  artifacts:
    reports:
      junit: test-*.xml
  before_script:
  - pip install pytest
  - pip install .
  script:
  ...

test_pipeline:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  artifacts:
    reports:
      junit: test-*.xml
  before_script:
  - pip install pytest
  - pip install .
  script:
  ...

test_metadata:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  artifacts:
    reports:
      junit: test-*.xml
  before_script:
  - pip install pytest
  - pip install .
  script:
  ...

docs:
  stage: Documentation
  before_script:
  - apt update && apt install -y python3.8-venv
  - python3 -m venv docs_venv
  - source docs_venv/bin/activate
  - python3 -m pip install -U pip
  - python3 -m pip install -r doc/doc_requirements.txt
  script:
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

ENH: update comment and docstring for __sync_parameters
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

CI: update pipeline test data with missing parameter values
  tests/serialized_apps.json
Due: none

FIX: sync_parameters make sure to keep False bool param values
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

ADD: test for autoparameters
  tests/test_core.py
Due: codespell, test_core, test_numpy, test_pipeline, test_metadata

WIP: depreciation
  pyotb/__init__.py
  pyotb/core.py
  pyotb/depreciation.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

WIP: depreciation
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

WIP: depreciation
  pyotb/core.py
  pyotb/depreciation.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

REFAC: rename warning_msg --> depreciation_warning
  pyotb/__init__.py
  pyotb/core.py
  pyotb/depreciation.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

DOC: correct typing of ext_fname
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

DOC: fix missing link
  doc/index.md
Due: codespell, docs

DOC: enhance quickstart
  doc/quickstart.md
Due: codespell, docs

DOC: edit limitation description
  doc/interaction.md
Due: codespell, docs

DOC: use otb stylesheet.css
  doc/stylesheets/extra.css
  mkdocs.yml
Due: docs

DOC: nipticks
  doc/quickstart.md
Due: codespell, docs

DOC: add codehilite
  mkdocs.yml
Due: docs

DOC: enh
  doc/quickstart.md
Due: codespell, docs

DOC: add codehilite
  doc/doc_requirements.txt
Due: docs

Apply 1 suggestion(s) to 1 file(s)
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

Apply 1 suggestion(s) to 1 file(s)
  doc/quickstart.md
Due: codespell, docs

DOC: wip snippets style
  mkdocs.yml
Due: docs

DOC: style, closer to OTB docs
  doc/doc_requirements.txt
  doc/extra.css
  mkdocs.yml
Due: docs

DOC: more compact comparison OTB vs pyotb
  doc/comparison_otb.md
Due: codespell, docs

DOC: title
  mkdocs.yml
Due: docs

DOC: fix python syntax highlight
  mkdocs.yml
Due: docs

DOC: fix summarize api doc
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

FIX: AttributeError message
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

FIX: remove otbObject
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

PERF: sub-processed application listing is not required with latest OTBTF
  pyotb/apps.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

STYLE: run black
  pyotb/depreciation.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

STYLE: run black on core.py
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline, test_metadata, docs

Path conditions:
  pydocstyle: any of: pyotb/*.py
  pylint: any of: pyotb/*.py
  codespell: any of: **/*.py, **/*.md
  test_core: any of: **/*.py
  test_numpy: any of: **/*.py
  test_pipeline: any of: **/*.py
  test_metadata: any of: **/*.py
  docs: any of: mkdocs.yml, doc/*, pyotb/*.py
