Repository orfeotoolbox/pyotb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

pylint:
  stage: Static Analysis
  allow_failure: true
  script:
  - pylint $PWD/pyotb --disable=fixme --ignore=functions.py

codespell:
  stage: Static Analysis
  allow_failure: true
  script:
  - codespell {pyotb,tests,doc,README.md}

pydocstyle:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install pydocstyle tomli
  script:
  - pydocstyle $PWD/pyotb

module_core:
  stage: Tests
  allow_failure: false
  before_script:
  - pip install .
  variables:
    SPOT_IMG_URL: https://gitlab.orfeo-toolbox.org/orfeotoolbox/otb/-/raw/develop/Data/Input/SP67_FR_subset_1.tif
  ...

pipeline_permutations:
  stage: Tests
  allow_failure: false
  before_script:
  - pip install .
  variables:
    SPOT_IMG_URL: https://gitlab.orfeo-toolbox.org/orfeotoolbox/otb/-/raw/develop/Data/Input/SP67_FR_subset_1.tif
  ...

docs:
  stage: Documentation
  needs: []
  image: python:3.12-slim
  before_script:
  - python -m venv docs_venv
  - source docs_venv/bin/activate
  - pip install -U pip
  - pip install -r doc/doc_requirements.txt
  script:
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

CI: fix pylint errors undefined vars
  pyotb/functions.py
Due: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

ENH: autoformat
  pyotb/apps.py
  pyotb/core.py
Due: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

CI: pylint functions.py
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

ENH: add TODO
  pyotb/helpers.py
Due: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

CI: drop install modules in coveragerc
  .coveragerc
Due: module_core, pipeline_permutations

CI: bump version
  pyotb/__init__.py
Due: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

CI: update changelog
  RELEASE_NOTES.txt
Due: none

ENH: avoid numpy 2 installation + new license spec
  pyotb/__init__.py
  pyproject.toml
Due: pylint, codespell, pydocstyle, module_core, pipeline_permutations, docs

Path conditions:
  pylint: any of: pyotb/*.py
  codespell: any of: **/*.py, **/*.md
  pydocstyle: any of: pyotb/*.py
  module_core: any of: **/*.py, .gitlab-ci.yml, .coveragerc
  pipeline_permutations: any of: **/*.py, .gitlab-ci.yml, .coveragerc
  docs: any of: *.md, mkdocs.yml, doc/*, pyotb/*.py
