Repository orfeotoolbox/pyotb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

pydocstyle:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install pydocstyle tomli
  script:
  - pydocstyle $PWD/pyotb

pylint:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install pylint
  script:
  - pylint $PWD/pyotb --disable=fixme

codespell:
  stage: Static Analysis
  allow_failure: true
  before_script:
  - pip install codespell
  script:
  - codespell {pyotb,tests,doc,README.md}

module_core:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  before_script:
  - pip install pytest pytest-cov
  artifacts:
    reports:
      junit: test-module-core.xml
      coverage_report:
  ...

pipeline_permutations:
  stage: Tests
  allow_failure: false
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: WARNING
    PYOTB_LOGGER_LEVEL: INFO
  before_script:
  - pip install pytest pytest-cov
  artifacts:
    reports:
      junit: test-pipeline-permutations.xml
  script:
  - curl -fsLI $SPOT_IMG_URL
  ...

docs:
  stage: Documentation
  before_script:
  - apt update && apt install -y python3.8-venv
  - python3 -m venv docs_venv
  - source docs_venv/bin/activate
  - python3 -m pip install -U pip
  - python3 -m pip install -r doc/doc_requirements.txt
  script:
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

DOC: sections titles
  doc/interaction.md
Due: codespell, docs

DOC: note for linked python API
  doc/otb_versions.md
Due: codespell, docs

DOC: Update RELEASE_NOTES.txt
  RELEASE_NOTES.txt
Due: none

CI: doc stage rules
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

DOC: update readme
  README.md
Due: codespell

DOC: add metadata, get_statistics(), get_info()
  doc/features.md
Due: codespell, docs

DOC: move contribute section in index
  doc/index.md
Due: codespell, docs

Update RELEASE_NOTES.txt
  RELEASE_NOTES.txt
Due: none

Update __init__.py
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

BUG: fixes #123
  pyotb/core.py
  tests/test_core.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

Update 2 files
  RELEASE_NOTES.txt
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

BUG: fix error with ParameterType_Field
  pyotb/__init__.py
  pyotb/core.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

Update docker image
  .gitlab-ci.yml
  pyproject.toml
  tests/pipeline_summary.json
Due: module_core, pipeline_permutations

BUG: fix for #126
  pyotb/core.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: bump version to 2.0.2
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

DOC: update release notes
  RELEASE_NOTES.txt
Due: none

CI: do not trigger pipeline for any *.txt file change
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

Update README.md
  README.md
Due: codespell

DOC: update links to forgemia repo
  README.md
  doc/index.md
  doc/installation.md
  mkdocs.yml
Due: codespell, docs

ENH: better logging config using dict
  pyotb/helpers.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

ENH: better logger config (preserve rootLogger state)
  doc/managing_loggers.md
  pyotb/__init__.py
  pyotb/helpers.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: pylint ignore functions.py
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

ENH: logger levels
  doc/managing_loggers.md
  pyotb/helpers.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: bump version
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: add coverage config
  .coveragerc
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

CI: use forgemia stable runners tag
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

Resolve "Memory leak"
  RELEASE_NOTES.txt
  pyotb/__init__.py
  pyotb/core.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: use latest otbtf dev image, avoind pip install if possible
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

BUG: drop install module
  pyotb/__init__.py
  pyotb/helpers.py
  pyotb/install.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

BUG: fixes #124
  pyotb/helpers.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

CI: add missing install pyotb before running tests
  .gitlab-ci.yml
Due: module_core, pipeline_permutations

CI: try fix coverage
  tests/__init__.py
Due: codespell, module_core, pipeline_permutations

CI: fix test module
  tests/test_core.py
  tests/test_pipeline.py
Due: codespell, module_core, pipeline_permutations

BUG: typo in glob expr
  pyotb/helpers.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

ENH: use func get_out_images_param_keys in App init
  pyotb/core.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

ENH: drop deprecations inherited from pyotb 1.5
  pyotb/core.py
  pyotb/depreciation.py
Due: pydocstyle, pylint, codespell, module_core, pipeline_permutations, docs

Path conditions:
  pydocstyle: any of: pyotb/*.py
  pylint: any of: pyotb/*.py
  codespell: any of: **/*.py, **/*.md
  module_core: any of: **/*.py, .gitlab-ci.yml
  pipeline_permutations: any of: **/*.py, .gitlab-ci.yml
  docs: any of: mkdocs.yml, doc/*, pyotb/*.py
