Repository orfeotoolbox/pyotb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

.gitlab-ci.yml:

default:
  image: $CI_REGISTRY/orfeotoolbox/otb-build-env/otb-ubuntu-native-develop-headless:20.04
  tags:
    - light
  interruptible: true

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .cache/pip

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_REF_PROTECTED && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_REF_PROTECTED

stages:
  - Static Analysis
  - Tests
  - Ship

#  -------------------------------- Static analysis --------------------------------

.static_analysis:
  stage: Static Analysis
  allow_failure: true
  rules:
    - changes:
        - pyotb/*.py

pydocstyle:
  extends: .static_analysis
  before_script:
    - pip install pydocstyle tomli
  script:
    - pydocstyle $PWD/pyotb

pylint:
  extends: .static_analysis
  before_script:
    - pip install pylint
  script:
    - pylint $PWD/pyotb

codespell:
  extends: .static_analysis
  rules:
    - changes:
        - .gitlab-ci.yml
        - pyotb/*.py
        - tests/*.py
        - doc/*.md
        - README.md
  before_script:
    - pip install codespell
  script:
    - codespell {pyotb,tests,doc,README.md}

# -------------------------------------- Tests --------------------------------------

.tests:
  stage: Tests
  allow_failure: false
  rules:
    - changes:
        - .gitlab-ci.yml
        - pyotb/*.py
        - tests/*.py
  variables:
    OTB_ROOT: /opt/otb
    LD_LIBRARY_PATH: /opt/otb/lib
    OTB_LOGGER_LEVEL: INFO
    PYOTB_LOGGER_LEVEL: DEBUG
  artifacts:
    reports:
      junit: test-*.xml
  before_script:
    - pip install pytest
    - pip install .

test_core:
  extends: .tests
  script:
    - pytest --color=yes --junitxml=test-core.xml tests/test_core.py

test_numpy:
  extends: .tests
  script:
    - pytest --color=yes --junitxml=test-numpy.xml tests/test_numpy.py

test_pipeline:
  extends: .tests
  script:
    - pytest --color=yes --junitxml=test-pipeline.xml tests/test_pipeline.py

# -------------------------------------- Ship ---------------------------------------

docs:
  stage: Ship
  when: manual
  only:
    - tags
  before_script:
    - apt update && apt install -y python3.8-venv
    - python3 -m venv docs_venv
    - source docs_venv/bin/activate
    - python3 -m pip install -U pip
    - python3 -m pip install -r doc/doc_requirements.txt
  script:
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public

pypi:
  stage: Ship
  when: manual
  only:
    - tags

  before_script:
    - apt update && apt install -y python3.8-venv
    - pip install build twine
  script:
    - python3 -m build
    - python3 -m twine upload --non-interactive -u __token__ -p $pypi_token dist/*

CI: auto ship on tags, build docs only for protected branch
  .gitlab-ci.yml
Due: codespell, test_core, test_numpy, test_pipeline

ENH: pixel_type is 2d argument in write()
  pyotb/core.py
  tests/test_core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

DOC: update README since pixel_type kwarg is not required
  README.md
Due: codespell

CI: last changes since workflow update
  .gitlab-ci.yml
  doc/examples/nodata_mean.md
  doc/installation.md
Due: codespell, test_core, test_numpy, test_pipeline

DOC: Lot of docfixes
  doc/MISC.md
  doc/comparison_otb.md
  doc/examples/nodata_mean.md
  doc/examples/pleiades.md
  doc/features.md
  doc/functions.md
  doc/index.md
  doc/interaction.md
  doc/managing_loggers.md
  doc/otb_versions.md
  doc/quickstart.md
  doc/troubleshooting.md
Due: codespell

DOC: update mkdocs.yml
  mkdocs.yml
Due: none

DOC: update troubleshooting
  doc/troubleshooting.md
Due: codespell

Doc: shorten authors info
  AUTHORS.md
Due: none

Doc: add highlights (warning/note)
  doc/examples/pleiades.md
  doc/interaction.md
  doc/troubleshooting.md
Due: codespell

Apply 1 suggestion(s) to 1 file(s)
  doc/managing_loggers.md
Due: codespell

Apply 1 suggestion(s) to 1 file(s)
  doc/quickstart.md
Due: codespell

Fix CI trigger
  .gitlab-ci.yml
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

CI: add metadata tests
  .gitlab-ci.yml
Due: codespell, test_core, test_numpy, test_pipeline

ADD: metadata tests
  tests/test_metadata.py
Due: codespell, test_core, test_numpy, test_pipeline

ENH: metadata property to return IMD and MDD
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

CI: move metadata tests inside core tests
  .gitlab-ci.yml
  tests/test_metadata.py
Due: codespell, test_core, test_numpy, test_pipeline

ADD: move metadata tests inside core tests
  tests/test_core.py
Due: codespell, test_core, test_numpy, test_pipeline

DOC: metadata property doc
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

Apply 1 suggestion(s) to 1 file(s)
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

ADD: process metadata values other that str
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

ADD: process metadata values other that str
  tests/test_core.py
Due: codespell, test_core, test_numpy, test_pipeline

Extended filenames as dict
  pyotb/core.py
  tests/test_core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

FIX: license info should not contain the full text
  pyproject.toml
Due: none

FIX: toml syntax error
  pyproject.toml
Due: none

CI: bump to 2.0.0.dev4
  pyotb/__init__.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

Avoid storing full license in package metadata
  pyotb/__init__.py
  pyproject.toml
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

ADD: test for bug #106
  tests/test_core.py
Due: codespell, test_core, test_numpy, test_pipeline

FIX: try to fix #106
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

ENH: remove key from App._auto_parameters when set by user
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

FIX: duplicated test_parameters function + try update param
  tests/test_core.py
Due: codespell, test_core, test_numpy, test_pipeline

ENH: __sync_parameters skip unused choices param keys
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

FIX: __sync_parameters find every auto parameters
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

ENH: sync params, and avoir calling App.app.GetParameters in property
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

STYLE: black autoformat + comments about types since we use enums
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

FIX: always try convert to str if otbApplicationProxy
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

FIX: skip empty collections or strings for _auto_parameters or data
  pyotb/core.py
Due: pydocstyle, pylint, codespell, test_core, test_numpy, test_pipeline

TEST: pytest verbose
  .gitlab-ci.yml
Due: codespell, test_core, test_numpy, test_pipeline

CI: add badge for develop to README, instead of master
  README.md
Due: codespell
